*{
    font-family: 'Arial', 'Open Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding-bottom: 8px;
    border-bottom: 1px solid #010;
    background-color: #0a1e2f;
    z-index: 999;
}
.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    color: white;
}
.login-button{
    color: white;
    background-color: #007BFF;
    border: 5px solid #007BFF;
    border-radius: 15px;
    cursor: pointer;
    padding: 6px 12px;
}
.nav-links{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    color: white;
}
main{
    background-color: #f4f4f4;
    flex: 1;
    padding: 0 20px;
    h1{
        padding-top: 20px;
        color: #333;
        text-align: center;
        margin-bottom: 30px;
    }
}
a{
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}
.post-container {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.post-box {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;

    h2 {
        margin-top: 0;
        font-size: 20px;
    }

    p {
        margin: 10px 0;
        color: #555;
    }
}
footer{
    position: relative;
    bottom: 0;
    background-color: #0a1e2f;
    padding: 20px;
    font-size: 14px;
    p {
        color: #ffffff;
        text-align: center;
    }
}
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;

    a {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        margin: 0 5px;

        &.active {
            background-color: #007BFF;
            border-radius: 8px;
            color: white;
        }

        &:hover:not(.active) {
            background-color: #ddd;
            border-radius: 8px;
        }
    }
}
