.post-box {

    p {
        color: #000;
    !important;
    }

    span {
        float: right;
        color: #555;
    }

    button {

        color: white;
        background-color: #007BFF;
        border: 2px solid #007BFF;
        border-radius: 6px;
        cursor: pointer;
        padding: 6px 12px;

        a {
            color: white;
        }
    }
}

.comments-container {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;

    h4 {
        color: #313030;
    }

    .comment-box {
        display: flex;
        flex-direction: column;
        background-color: #fff;
        border: 1px solid #ccc;
        padding: 20px;
        margin-bottom: 30px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

        .author {
            max-width: 25%;
            margin: 10px 0;
            border-radius: 5px;
        }

        .comment {
            display: block;
            max-width: 75%;
            overflow: hidden;
            resize: both;
            min-height: 40px;
            line-height: 20px;
            border: 1px solid #111;
            border-radius: 5px;
        }

        .comment[contenteditable]:empty::before {
            content: "Wpisz tutaj treść komentarza";
            color: gray;
        }

        button {
            color: white;
            background-color: #007BFF;
            border: 2px solid #007BFF;
            border-radius: 6px;
            cursor: pointer;
            padding: 6px 12px;
            margin: 10px 0;
            width: 20%;

        }

        .error {
            color: #FF0000;
        }

        .public {
            float: right;
            color: #555;
        }
    }

.comment-box.highlight {
    background-color: rgb(65, 65, 206, 0.5);
    transition: background-color 1s ease;
}